@model Project.UI.Areas.Admin.Models.IndexViewModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>Kuşkonmaz</title>

    <!-- Favicon -->
    <link rel="icon" href="~/images/favicon.ico">
    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    
</head>

<body>
    <!-- ##### Preloader ##### -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="circle-preloader">
            <img src="~/images/logo.png" alt="">
            <div class="foode-preloader">
                <span></span>
            </div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="top-header-content d-flex align-items-center justify-content-between">
                            <!-- Search Form -->
                            <div class="search-form">
                                <form action="#" method="get">
                                    <input type="search" name="search" class="form-control" placeholder="Search and hit enter...">
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </form>
                            </div>

                            <!-- Social Button -->
                            <div class="top-social-info">
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Logo Area -->
        <div class="logo-area text-center">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Nav brand -->
                        <a href="index.html" class="nav-brand"><img src="~/images/logo.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="foode-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar" id="foodeNav">

                        <!-- Nav brand -->
                        <a href="index.html" class="nav-brand"><img src="~/images/logo.png" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="/Home/Index">Home</a></li>
                                    <li>
                                        <a href="#">Category</a>
                                        <div class="megamenu">
                                            <ul class="single-mega cn-col-12">
                                                @foreach (var category in Model.Categories)
                                                {
                                                    <li><a href="/Home/CategoryPostList/@category.categoryId">@category.categoryName</a></li>
                                                }
                                            </ul>
                                        </div>
                                    </li>

                                    <li><a href="/Home/About">About</a></li>
                                    <li><a href="/Home/Contact">Contact</a></li>
                                </ul>

                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->
    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <img src="/images/breadcrumb-line.png" alt="">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Blog Single</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->
    <!-- ##### Blog Content Area Start ##### -->
    <section class="blog-content-area section-padding-0-100">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Blog Posts Area -->
                <div class="col-12 col-lg-8">
                    <div class="blog-posts-area">

                        <!-- Post Details Area -->
                        <div class="single-post-details-area">
                            <div class="post-thumbnail mb-30">
                                <img src="~/adminmaster/images/@Model.post.postImage" alt="">
                            </div>
                            <div class="post-content">
                                <p class="post-date"> @Model.post.dateAdded.ToString("dd MMMM yyyy") / @(string.Join(",", ViewBag.cat[Model.post.postId])) </p>
                                <h4 class="post-title">@Model.post.postTitle</h4>
                                <div class="post-meta">
                                    <a href="#"><i class="fa fa-comment"></i> @ViewBag.count[Model.post.postId]</a>
                                    <a href="#"><i class="fa fa-eye"></i> @Model.post.Views</a>
                                    <a href="#"><i class="fa fa-heart-o"></i> @Model.post.Likes</a>
                                </div>
                                <blockquote>
                                    <div class="blockquote-icon">
                                        <img src="~/images/quote.png" alt="">
                                    </div>
                                    <div class="blockquote-text">
                                        <h6>@Model.post.postDescription</h6>

                                    </div>
                                </blockquote>
                                <p>@Model.post.postContent</p>
                            </div>
                        </div>

                        <!-- Post Tags & Share -->
                        <div class="post-tags-share d-flex justify-content-between align-items-center">
                            <!-- Tags -->
                            <ol class="popular-tags d-flex flex-wrap">
                                @*<li><a href="#"><i class="fa fa-heart-o"></i> Like</a></li>*@
                                <li><a href="javascript:void(0)" class="like" data-Id="@Model.post.postId">Like (@Model.post.Likes)</a></li>
                            </ol>
                            <!-- Share -->
                            <div class="post-share">
                                <span>Share:</span>
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                            </div>
                        </div>

                        <!-- Related Post Area -->
                        <div class="related-posts clearfix">
                            <!-- Line -->
                            <div class="curve-line bg-img mb-50" style="background-image: url(~/images/breadcrumb-line.png);"></div>

                            <!-- Headline -->
                            <h4 class="headline">Most Liked</h4>

                            <div class="row">

                                @foreach (var img in Model.SameCat)
                                {
                                    <!-- Single Blog Post -->
                                    <div class="col-12 col-md-6">
                                        <div class="single-blog-post related-post">
                                            <!-- Thumbnail -->
                                            <div class="post-thumbnail mb-50">
                                                <a href="/Home/SinglePost/@img.Post.postId"><img src="~/adminmaster/images/@img.Post.postImage" alt=""></a>
                                            </div>
                                            <!-- Content -->
                                            <div class="post-content mb-50">
                                                <p class="post-date">@img.Post.dateAdded.ToString("dd MMMM yyyy") /  @(string.Join(",", ViewBag.cat[img.Post.postId]))</p>
                                                <a href="/Home/SinglePost/@img.Post.postId" class="post-title">
                                                    <h4>@img.Post.postTitle</h4>
                                                </a>
                                                <div class="post-meta">
                                                    <a href="#"><i class="fa fa-comment"></i> @ViewBag.count[img.Post.postId]</a>
                                                    <a href="#"><i class="fa fa-eye"></i> @img.Post.Views</a>
                                                    <a href="#"><i class="fa fa-heart-o"></i> @img.Post.Likes</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>

                            <!-- Line -->
                            <div class="curve-line bg-img" style="background-image: url(~/images/breadcrumb-line.png);"></div>
                        </div>

                        <!-- Comment Area Start -->
                        <div class="comment_area clearfix">
                            <h4 class="headline">@ViewBag.count[Model.post.postId] Comments</h4>

                            <ol>
                                <!-- Single Comment Area -->
                                <li class="single_comment_area">
                                    @foreach (var comment in Model.post.Comments)
                                    {
                                        <div class="comment-wrapper d-flex">
                                            <!-- Comment Meta -->
                                            <div class="comment-author">
                                                <img  class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png" alt="">
                                            </div>
                                            <!-- Comment Content -->
                                            <div class="comment-content">
                                                <span class="comment-date">@comment.ReleaseDate</span>
                                                <h5>@comment.User.userName</h5>
                                                <p>@comment.commentContent</p>
                                                <a href="javascript:void(0)" class="commentlike" data-Id="@comment.commentID">Like (@comment.Likes)</a>
                                                <a href="javascript:void(0)" class="commentdislike" data-Id="@comment.commentID">Dislike (@comment.disLikes)</a>
                                    @*<li><a href="javascript:void(0)" class="like" data-Id="@Model.post.postId">Like (@Model.post.Likes)</a></li>*@
</div>
                                        </div>
                                    }

                                </li>
                            </ol>
                        </div>

                        <!-- Leave A Comment -->
                        <div class="leave-comment-area clearfix">
                            <div class="comment-form">
                                <h4 class="headline">Leave A Comment</h4>

                                <!-- Comment Form -->
                                <form asp-controller="Home" asp-action="AddComment" method="post" enctype="multipart/form-data">

                                    <input type="hidden" asp-for="post.postId"name="postId" />
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="userName" placeholder="Name">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <input type="email" class="form-control" name="userMail" placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <textarea class="form-control" name="commentContent" id="commentContent" cols="30" rows="10" placeholder="Comment"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <button type="submit" class="btn foode-btn">Post Comment</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Blog Sidebar Area -->
                <div class="col-12 col-sm-9 col-md-6 col-lg-4">
                    <div class="post-sidebar-area">

                        <!-- ##### Single Widget Area ##### -->
                        <div class="single-widget-area mt-0">
                            <!-- Title -->
                            <div class="widget-title">
                                <h6>Categories</h6>
                            </div>
                            <ol class="foode-catagories">
                                @foreach (var category in Model.Categories)
                                {
                                    <li><a href="/Home/CategoryPostList/@category.categoryId"><span><i class="fa fa-stop" aria-hidden="true"></i>@category.categoryName</span> <span>(@category.PostCategories.Count)</span></a></li>
                                }
                            </ol>
                        </div>

                        <!-- ##### Single Widget Area ##### -->
                        <div class="single-widget-area">
                            <!-- Title -->
                            <div class="widget-title">
                                <h6>Latest Posts</h6>
                            </div>
                            @foreach (var item in Model.dataAdded)
                            {
                                <!-- Single Latest Posts -->
                                <div class="single-latest-post d-flex">
                                    <div class="post-thumb">
                                        <img src="/adminmaster/images/@item.postImage" alt="">
                                    </div>
                                    <div class="post-content">
                                        <a href="/Home/SinglePost/@item.postId" class="post-title">
                                            <h6>@item.postTitle</h6>
                                        </a>
                                        <a href="#"><i class="fa fa-eye"></i> @item.Views / @item.dateAdded.ToString("dd MMMM yyyy")</a>
                                    </div>
                                </div>
                            }

                        </div>

                        <!-- ##### Single Widget Area ##### -->
                        <div class="single-widget-area">
                            <!-- Adds -->
                            <a href="#"><img src="~/images/add.png" alt=""></a>
                        </div>

                        <!-- ##### Single Widget Area ##### -->
                        <div class="single-widget-area">
                            <!-- Title -->
                            <div class="widget-title">
                                <h6>Archives</h6>
                            </div>
                            <ol class="foode-archives">
                                <li><a href="#"><span><i class="fa fa-stop" aria-hidden="true"></i> January 2018</span></a></li>
                                <li><a href="#"><span><i class="fa fa-stop" aria-hidden="true"></i> February 2018</span></a></li>
                                <li><a href="#"><span><i class="fa fa-stop" aria-hidden="true"></i> March 2018</span></a></li>
                                <li><a href="#"><span><i class="fa fa-stop" aria-hidden="true"></i> April 2018</span></a></li>
                                <li><a href="#"><span><i class="fa fa-stop" aria-hidden="true"></i> May 2018</span></a></li>
                            </ol>
                        </div>

                        <!-- ##### Single Widget Area ##### -->
                        <div class="single-widget-area">
                            <!-- Title -->
                            <div class="widget-title">
                                <h6>popular tags</h6>
                            </div>
                            <!-- Tags -->
                            <ol class="popular-tags d-flex flex-wrap">
                                @foreach (var tag in Model.Tags)
                                {
                                    <li><a href="/Home/TagPostList/@tag.tagId">@tag.tagName (@tag.PostTags.Count) </a></li>


                                }
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Blog Content Area End ##### -->
    
    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Footer Curve Line -->
                    <img class="footer-curve" src="~/images/foo-curve.png" alt="">
                    <!-- Footer Social Info -->
                    <div class="footer-social-info d-flex align-items-center justify-content-between">
                        <a href="#"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                        <a href="#"><i class="fa fa-twitter"></i><span>Twitter</span></a>
                        <a href="#"><i class="fa fa-google-plus"></i><span>Google +</span></a>
                        <a href="#"><i class="fa fa-linkedin"></i><span>linkedin</span></a>
                        <a href="#"><i class="fa fa-instagram"></i><span>Instagram</span></a>
                        <a href="#"><i class="fa fa-vimeo"></i><span>Vimeo</span></a>
                        <a href="#"><i class="fa fa-youtube"></i><span>Youtube</span></a>
                    </div>
                    <!-- Footer Curve Line -->
                    <img class="footer-curve" src="~/images/foo-curve.png" alt="">
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="copywrite-text">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->
    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/Bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/Bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/js/plugins.js"></script>
    <!-- Active js -->
    <script src="/js/active.js"></script>

    <script>

        jQuery(document).ready(function () {

            jQuery("a.like").click(function () {
                var id = jQuery(this).data("id");
                var link = "/Home/Like/" + id;
                var a = jQuery(this)
                jQuery.ajax({
                    type: "GET",
                    url: link,
                    success: function (result) {
                        a.html("<span> Like (" + result + ")</span>");
                    }
                });
            });

        });
    </script>
    <script>
        jQuery(document).ready(function () {


            jQuery("a.commentlike").click(function () {
                var id1 = jQuery(this).data("id");
                var link = "/Home/CommentLike/" + id1;
                var a = jQuery(this)
                jQuery.ajax({
                    type: "GET",
                    url: link,
                    success: function (result) {
                        a.html("<span> Like (" + result + ")</span>");
                    }
                });
            });
        });
    </script>
    <script>
         jQuery(document).ready(function () {
            jQuery("a.commentdislike").click(function () {
                var id2 = jQuery(this).data("id");
                var link = "/Home/CommentDisLike/" + id2;
                var a = jQuery(this)
                jQuery.ajax({
                    type: "GET",
                    url: link,
                    success: function (result) {
                        a.html("<span> disLike (" + result + ")</span>");
                    }
                });
            });

          });
       
    </script>

</body>

</html>